<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="main-content">
    <div class="page-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <nav class="breadcrumb-area">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-sep">/</li>
                                <li>About</li>
                            </ul>
                        </nav>
                        <h4 class="title">About</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb">
                        <a href="javascript:(0);">
                            <img class="w-100" src="assets/img/about.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h4 class="title">Andree Pia Pia become president of the United States</h4>
                        <p>Ngày 4/3, sau một cuộc tranh cử gay gắt với ông Bình Vàng, Andree Pia Pia đã giành chiến thắng áp đảo và chính thức trở thành Tổng thống Mỹ. Cuộc bầu cử này đã thu hút sự chú ý lớn của toàn thế giới, đặc biệt là với những cuộc tranh luận căng thẳng và những màn đấu khẩu giữa hai ứng viên, mỗi người đại diện cho những quan điểm chính trị khác nhau.

                            Andree Pia Pia, với chiến dịch tập trung vào các vấn đề như cải cách kinh tế, chăm sóc sức khỏe toàn diện và bảo vệ quyền lợi của người lao động, đã nhận được sự ủng hộ mạnh mẽ từ cử tri, đặc biệt là tầng lớp trung lưu và những người trẻ tuổi. Ông đã cam kết sẽ đưa ra những chính sách mạnh mẽ nhằm thúc đẩy sự phát triển bền vững và cải thiện đời sống cho mọi công dân.

                        <p>Dự kiến sau khi bà lên chức sẽ có một đế chế hùng mạnh</p>
                        <a class="btn-theme" href="javascript:(0);">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-area">
        <div class="container pt-2">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="section-title section-title-style-two text-center">
                        <h2 class="sub-title">HAND WORK</h2>
                        <h2 class="title">our expert team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="team-item">
                        <div class="inner-content">
                            <div class="thumb">
                                <a href="javascript:(0);">
                                    <img class="w-100" src="assets/img/team/manh.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                    <a href="javascript:(0);">NGUYEN VAN MANH</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="team-item">
                        <div class="inner-content">
                            <div class="thumb">
                                <a href="javascript:(0);">
                                    <img class="w-100" src="assets/img/team/linh.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                    <a href="javascript:(0);">LY THUY LINH</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="team-item">
                        <div class="inner-content">
                            <div class="thumb">
                                <a href="javascript:(0);">
                                    <img class="w-100" src="assets/img/team/yen.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                    <a href="javascript:(0);">NGUYEN HAI YEN</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-3">
                    <div class="team-item">
                        <div class="inner-content">
                            <div class="thumb">
                                <a href="javascript:(0);">
                                    <img class="w-100" src="assets/img/team/son.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                    <a href="javascript:(0);">LUU TRUONG SON</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-3">
                    <div class="team-item">
                        <div class="inner-content">
                            <div class="thumb">
                                <a href="javascript:(0);">
                                    <img class="w-100" src="assets/img/team/dat.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                    <a href="javascript:(0);">NGUYEN THANH DAT</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 mt-3">
                    <div class="team-item">
                        <div class="inner-content">
                            <div class="thumb">
                                <a href="javascript:(0);">
                                    <img class="w-100" src="assets/img/team/dung.jpg">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="title">
                                    <a href="javascript:(0);">NGUYEN VAN DUNG</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>